<!-- Material form contact -->
<div class="card">

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">
        <!-- Form -->
         
        <form action="{{ itemObtenido.url }}" method="POST" class="text-center" style="color: #757575;"
            enctype="multipart/form-data">
            <input type="hidden" name="restaurante_id" value="{{itemObtenido.restaurante_id}}">
             <input type="hidden" name="_id" value="{{itemObtenido._id}}">
              <div class="form-row mb-4">

                <div class="col">
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormNombre" name="nombre" class="form-control" value="{{itemObtenido.nombre}}">
                    <label for="materialContactFormName">Nombre</label>
                  </div>

                </div>
                <div class="col">
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormDescripcion" name="descripcion" class="form-control" value="{{itemObtenido.descripcion}}">
                    <label for="materialContactFormName">Descripción</label>
                  </div>
                </div>

              </div>

              <div class="form-row mb-4">
                <div class="col">
                  <!-- Nombre -->
                  <div class="md-form mt-3">
                    <input type="text" id="materialContactFormRating" name="precio" class="form-control" value="{{itemObtenido.precio}}">
                    <label for="materialContactFormName">Precio en  Lempiras</label>
                  </div>
                </div>
                <div class="col">
                 
                </div>
              </div>
              <!-- Nombre -->
              
            <div id="preview">
                <img src="{{rutaImg}}/{{itemObtenido.imagen_url}}" alt="" class="imagen-item" id="imgActual">
                <button type="button" class="btn btn-warning"
                    onclick="obtenerImagenOriginal('{{rutaImg}}/{{ itemObtenido.imagurl }}')">Original</button>
            </div>
            <div class="input-group">

                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
                </div>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="imagen_url"
                        aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGrouspFile01" id="nombreArchivo">Elegir Imagen</label>
                </div>
            </div>

            <!-- Send button -->
            <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                type="submit">Guardar</button>

        </form>
        <!-- Form -->
    </div>

</div>
<!-- Material form contact -->

<script>
    function obtenerImagenOriginal(urlImagenActual) {
        if(document.getElementById('imgNueva')){
            document.getElementById('imgNueva').remove();
        let preview = document.getElementById('preview'),
            image = document.createElement('img');

        image.src = urlImagenActual;
        image.className = "imagen-itemObtenido";
        image.id = "imgActual";
        preview.append(image);
        document.getElementById("inputGroupFile01").value = "";
        document.getElementById("nombreArchivo").innerHTML = "Elegir Imagen";
        }
    }
    document.getElementById("inputGroupFile01").onchange = function (e) {
        // Creamos el objeto de la clase FileReader
        let reader = new FileReader();

        // Leemos el archivo subido y se lo pasamos a nuestro fileReader
        reader.readAsDataURL(e.target.files[0]);

        // Le decimos que cuando este listo ejecute el código interno
        reader.onload = function () {
            document.getElementById('imgActual').remove();
            let preview = document.getElementById('preview'),
                image = document.createElement('img');

            image.src = reader.result;
            image.className = "imagen-itemObtenido";
            image.id = "imgNueva";
            preview.append(image);
        };
    }
</script>