<h1>Restaurante: {{restaurante.nombre}}</h1>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#centralModalNuevo">Nuevo Item
</button>
{{> showMessages messages}}

<div class="row principal-items">
    <div class="col-lg-12 col-xs-12">
        <!--Section: Content-->
        <section class="dark-grey-text text-center">
            <!-- Grid row -->
            <div class="row">
                {{#each  restaurante.items as |item|}}
                <!-- Grid column -->
                <div class="col-lg-3 col-md-6 mb-4 d-flex align-items-stretch">
                    <!-- Card -->
                    <div class="card align-items-center">
                        <!-- Card image -->
                        <div class="view overlay">
                            <img src="/uploads/items/{{item.imgurl}}" class="card-img-top imagenPlatillo" alt="{{ item.nombre }}">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!-- Card image -->
                        <!-- Card content -->
                        <div class="card-body text-center">
                            <!-- Category & Title -->
                            <a href="{{item.url}}" class="dark-grey-text">
                                <h5 ><strong>{{ item.nombre }}</strong></h5>
                            </a>
                            <h6 class="grey-text">
                                    <a href="{{item.url}}" class="dark-grey-text">{{ item.descripcion }} <br>
                                    </a>
                               <p style="color: rgb(160, 36, 36);"> L {{ item.precio }}</p><a  href="/clientes/agregar-carrito/{{ item.restaurante_id }}/{{ item.url }}" class="btn btn-info">Comprar</a>
                            </h6>
                        </div>
                        <!-- Card content -->
                    </div>
                    <!-- Card -->
                </div>
                <!-- Grid column -->
                {{/each  }}


            </div>
            <!-- Grid row -->

        </section>
        <!--Section: Content-->
    </div>
</div>