<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#centralModalNuevo">Nuevo
</button>
{{> showMessages messages}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Url</th>
      <th scope="col">Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each restaurantes as |restaurante|}}
    <tr>
      <td>{{ restaurante.nombre }}</td>
      <td><a href="">{{ restaurante.url }}</a></td>
      <td><img src="/uploads/items/{{restaurante.imagen_url}}" alt="imagen del restaurante" width="200"></td>
      <td>
        <a  href="{{restaurante.url}}" class="btn btn-info">Editar</a>
        <a  href="{{restaurante.url}}/items" class="btn btn-secondary">Items</a>
        <form action="{{ restaurante._id }}/eliminar" method="post" class="btn-Eliminar">
        <button type="submit" class="btn btn-danger" >Eliminar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{> modalRestaurantes }}

